* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #333;
}
#clock {
  border: 1px solid red;
  padding: 1rem;
  font-size: 3rem;
  font-family: Consolas, Courier, monospace;
  font-weight: bold;
  color: red;
  /* background-color: bisque; */
}
